/* Import font */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --c-white: hsl(0 100% 100%);
  --c-black: hsl(0 0% 0%);
  --c-grey-500:hsl(215 17% 45%);
  --c-grey-300: hsl(215 43% 77%);
  --c-blue-900: hsl(215 31% 21%);
  --c-blue-500: hsl(227 92% 58%);
  --c-blue-300: hsl(209 69% 82%);        
  --c-blue-100: hsl(228 94% 94%);
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-900: 4.5rem;
  --spacing-1100: 5.5rem;
  --spacing-1200: 6rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--c-white);
}

