/* Import font */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --c-white: hsl(0 100% 100%);
  --c-black: hsl(0 0% 0%);
  --c-grey-500: hsl(215 17% 45%);
  --c-grey-300: hsl(215 43% 77%);
  --c-blue-900: hsl(215 31% 21%);
  --c-blue-500: hsl(227 92% 58%);
  --c-blue-300: hsl(209 69% 82%);
  --c-blue-100: hsl(228 94% 94%);
  --c-gradient-dark: hsl(183 95% 92%);
  --c-gradient-light: hsl(216 95% 92%);
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-900: 4.5rem;
  --spacing-1100: 5.5rem;
  --spacing-1200: 6rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
  --spacing-1800: 9rem;
}

/* Font styles */
.fw-600 {
  font-weight: 600;
}

.text-preset-2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -5%;
}

.text-preset-4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -5%;
}

.text-preset-5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -5%;
}

.text-preset-6-semi {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.text-preset-6-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.text-preset-7-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.text-preset-7-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}

/* General styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--c-white);
}

/* Intro section */
.intro {
  padding-block-start: clamp(2rem, calc(-4.222rem + 12.963vw), 5.5rem);
  padding-inline: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  display: grid;
  gap: clamp(2rem, calc(1.523rem + 2.036vw), 2.5rem);
  position: relative;
}

.background-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--c-white), hsl(183, 95%, 92%, 0.4), var(--c-gradient-light));
  position: absolute;
  top: -40%;
  z-index: -5;
  border-bottom-right-radius: 35px;
}

.logo {
  margin-inline: auto;
  max-width: clamp(2.5rem, calc(0.786rem + 3.571vw), 4rem);
  height: auto;
}

.intro-text {
  text-align: center;
}

.intro-text-header {
  margin-block-end: clamp(1.5rem, calc(0.611rem + 1.852vw), 2rem);
  font-size: clamp(3.00rem, calc(1.857rem + 2.381vw), 4.00rem);
  line-height: 1.1;
  letter-spacing: -5%;
  color: var(--c-blue-900);
}

.intro-text-p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--c-grey-500);
}

/* Calculator */
.calculator {
  display: grid;
  gap: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  padding: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  background-color: var(--c-white);
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.calculator-header {
  color: var(--c-blue-900);
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -5%;
}

.radio-input-container {
  display: flex;
  gap: 1.5rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 50%;
}

.radio-input {
  appearance: none;
  width: 31px;
  height: 31px;
  border: 1px solid var(--c-grey-500);
  border-radius: 50%;
  cursor: pointer;
}

.radio-input:hover {
  border-color: var(--c-blue-500);
}

.radio-input:focus {
  border-color: var(--c-blue-500);
  outline: none;
}

/* Checked state for radio input */
.radio-input-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: var(--c-blue-100);
}

.radio-input-checked::after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--c-blue-500);
  border-radius: 50%;
}

.radio-group label {
  color: var(--c-blue-900);
}

/* Body input container */
.body-inner-container {
  display: grid;
  gap: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
}

.body-group label {
  display: block;
  margin-block-end: 0.5rem;
  color: var(--c-grey-500);
}

.body-input-group {
  display: flex;
  padding: clamp(1rem, calc(2.389rem - 1.852vw), 1.5rem);
  border: 1px solid var(--c-grey-500);
  border-radius: 0.75rem;
  cursor: pointer;
}

.body-input-group:hover,
.body-input-group:has(input:focus) {
  outline: none;
  border-color: var(--c-blue-500);
}

.body-input-group input {
  width: 100%;
  border: none;
  color: var(--c-grey-500);
}

.body-input-group input::-webkit-inner-spin-button {
  appearance: none;
}

.body-input-group input:focus {
  outline: none;
  color: var(--c-blue-900);
}

.body-input-group span {
  color: var(--c-blue-500);
}

.imperial-input-group {
  display: flex;
  gap: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
}

.calculator-result-container {
  margin-block-start: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
  padding: var(--spacing-400);
  color: var(--c-white);
  background-color: var(--c-blue-500);
  border-radius: 1rem;
}

.calculator-result-container h2 {
  margin-block-end: clamp(1rem, calc(1.977rem - 2.036vw), 1.5rem);
}

.calculator-result {
  display: grid;
  gap: 1.5rem;
}

.calculator-result-header .text-preset-6-semi {
  margin-block-end: 0.5rem;
}

.bmi-result {
  font-size: clamp(3.00rem, calc(1.222rem + 3.704vw), 4.00rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -5%;
}

/* BMI explanation */ 
.bmi-explanation {
  padding-block : clamp(3rem, calc(1.569rem + 6.107vw), 6rem);
  display: grid;
  gap: clamp(3rem, calc(1.636rem + 5.818vw), 6rem);
}

.bmi-explanation-image {
  max-width: 35.25rem;
}

.curved-image-left {
  display: none;
}

.bmi-explanation-text {
  padding-inline-start: var(--spacing-300);
}

.bmi-explanation-text h2 {
  margin-block-end: var(--spacing-400);
  font-size: clamp(2.00rem, calc(0.222rem + 3.704vw), 3.00rem);
  line-height: 1.1;
  letter-spacing: -5%;
  color: var(--c-blue-900);
}

.bmi-explanation-text p {
  color: var(--c-grey-500);
}

/* BMI items */
.bmi-items-outer {
  background: linear-gradient(90deg, var(--c-white), hsl(183, 95%, 92%, 0.4));
}

.bmi-items-inner {
  padding-block: clamp(3rem, calc(-2.333rem + 11.111vw), 6rem);
  padding-inline: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  display: grid;
  gap: clamp(32px, calc(54.222px - 1.852vw), 40px);
}

.bmi-item {
  display: grid;
  gap: var(--spacing-400);
}
 
.bmi-item-text h4 {
  margin-block-end: var(--spacing-300);
  color: var(--c-blue-900);                   
}

.bmi-item-text p {
  color: var(--c-grey-500);
}

/* BMI limitations */
.bmi-limitations-outer {
  padding-block: clamp(5rem, calc(-2.333rem + 11.111vw), 6.5rem);
  padding-inline: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  display: grid;
  row-gap: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
}

.bmi-limitations-header {
  text-align: center;
  margin-block-end: clamp(0rem, calc(9.722rem - 12.963vw), 2.5rem);
}

.bmi-limitations-header h3 {
  margin-block-end: var(--spacing-400);
  font-size: clamp(2.00rem, calc(0.222rem + 3.704vw), 3.00rem);
  line-height: 1.1;
  letter-spacing: -5%;
  color: var(--c-blue-900);
}

.bmi-limitations-header p {
  color: var(--c-grey-500);
}

.curved-image-right {
  display: none;
}

.bmi-limitations-item {
  padding: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  background-color: var(--c-white);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  border-radius: 1rem;
}

.bmi-limitations-item-header {
  margin-block-end: var(--spacing-200);
  display: flex;
  gap: var(--spacing-200); 
  align-items: center;
  color: var(--c-blue-900);
}

.bmi-limitations-item p {
  color: var(--c-grey-500);
}
 
/* Media queries */
@media (min-width: 32rem) {
  /* Body input container */
  .calculator-result-container {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }

  .calculator-result {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /* BMI explanation */
  .bmi-explanation {
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -5%;
    align-items: center;
  }

  /* BMI limitations */
  .bmi-limitations-outer {
    grid-template-columns: repeat(4, 1fr);
    column-gap: clamp(1rem, calc(-0.778rem + 3.704vw), 2rem);
  }

  .bmi-limitations-header {
    grid-column: span 4;
  }

  .bmi-limitations-item {
    grid-column: span 2;
  }

  .bl-item-5 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (min-width: 48rem) {
  /* Global styles */
  .wrapper {
    max-width: 72rem;
    margin-inline: auto;
  }

  /* Intro section */
  .intro {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: var(--spacing-400);
  }

  .background-gradient {
    display: none;
  }

  .logo {
    grid-column: span 2;
    margin-inline: 0;
  }

  .intro-text {
    align-content: center;
    text-align: left;
  }

  .intro-text-p {
    max-width: 29.25rem;
  }

  /* Body input container */
  .calculator-result-header.text-preset-2 {
    font-size: 4rem;
  }

  /* BMI explanation */
  .bmi-explanation {
    left: 0;
  }

  .bmi-item {
    grid-template-columns: auto 1fr;
    gap: var(--spacing-500);
    align-items: center;
  }
}

@media (min-width: 75rem) {
  /* Intro section */
  .intro {
    padding-inline: 0;
  }

  /* BMI explanation */
  .bmi-explanation { 
    grid-template-columns: max-content 1fr;
  }

  .bmi-explanation-image {
    align-self: end;
  }
  
  .bmi-explanation-text {
    padding-block-end: var(--spacing-400);
  }

  .curved-image-left {
    display: flex;
    justify-content: flex-end;
    margin-block-end: var(--spacing-400);
    padding-inline-end: var(--spacing-300);
  }

  .bmi-items-outer {
    margin-inline-end: var(--spacing-400);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .bmi-items-inner {
    display: flex;
    position: relative;
    left: var(--spacing-200);
    padding-inline: 0
  }

  .bmi-item {
    grid-template-columns: 1fr;
    gap: var(--spacing-600);
  }

  /* BMI limitations */
  .bmi-limitations-outer {
    padding-inline: 0;
    grid-template-columns: repeat(12 ,1fr);
  }

  .bmi-limitations-header {
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: left;
  }

  .curved-image-right {
    display: block;
    position: relative;
    left: 40%;
    top: -2.5%;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .bl-item-1 {
    grid-column-start: 8;
    grid-column-end: 12;
  }

  .bl-item-2 {
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .bl-item-3 {
    grid-column-start: 9;
    grid-column-end: 13;
  }

  .bl-item-4 {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .bl-item-5 {
    grid-column-start: 7;
    grid-column-end: 11;
  }
}

.hidden {
  display: none;
}